html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.carrete {
  margin: auto;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 22px 70px 4 px;
  border-radius: 8px;
  width: fit-content;
}

.contenedor_imagenes {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

.contenedor_imagenes img {
    scroll-snap-align: start;
  height: fit-content;
  width: auto;
}