img{
  width: 100%;
  height: auto;
}

.galeria {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.item_galeria {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: aliceblue;
  color: #d9d9d9;
  scroll-snap-align: center;
}



@media screen and (min-width:800px) {
  .galeria {
    flex-wrap: wrap;
    padding: 1rem 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
  }
  .item_galeria{
    scroll-snap-align: start;
  }
}
