*{
    padding: 0;
    margin: 0;
}

.galeria{
    display: block;
    width: auto;
    height: auto;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    background-color: aliceblue;
}
.galeria::-webkit-scrollbar{
    display: none;
}

.item_galeria{
    display: block;
    white-space: nowrap;
}
.imagen_galeria{
    display: inline-block;
}

.imagen_galeria img{
    width: 100%;
    height: auto;
    object-position: center;
    
}